---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
const title = 'jo&dev';

---

<Layout title="jo&dev">
	<Header />
	<main class="text-green-900">
		
	</main>
  </Layout>

<style>


</style>