<header class="Web-Site-Bright-5-hex flex justify-center">
  <div class="w-8/12 py-4 ">
    <div class="w-fit flex flex-col ">
      <h1 class="Gugi-font text-4xl"> {'jo&dev'}</h1>
      <h2 class="IBMPlex-font w-full text-center">my thoughts</h2>
    </div>

  </div>

</header>
